<a href="/new"><button type="button" name="button">Add New Collection</button></a><p>


{{#posts}}

<section class="posts">
  <div class="artist">
    {{artist}}
  </div>

  <div class="album">
    <a href="/show/{{_id}}"><img src="{{imgURL}}" alt="" class="imgURL" /></a>
    {{album}}
    </div>

  <div class="release">
    {{release}}
  </div>
</section>

{{/posts}}
