<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css"/>
</head>
<header class="header">
  <p class="postTitle">Your Vinyl Resting Place</p>
  <nav class="nav">
    <a href="/auth/instagram">Instagram Login |</a>
    <a href="/logout">Logout</a>
  </nav>
</header>
<body>
  <p>
    {{#if user}}
    Hello {{user.username}}!
    {{else}}
    Not Logged In{{user.displayName}}
    {{/if}}
    {{{body}}}
  </p>
</body>
</html>
