<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
    <nav class="nav">
      <a href="/auth/instagram">Login</a>
      <a href="/logout">Logout</a>
    </nav>
  <body>
    {{#if user}}
      Hello {{user.username}}
      {{else}}
      Not logged in{{user.displayName}}!
        {{/if}}
    {{{body}}}

  </body>
</html>
