<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<header class="header">
  <div class="postTitle">
    <p>Your Vinyl Resting Place</p>
  </div>

  <div class="nav">
    <button class="button"> <a href="/auth/instagram">Instagram Login&nbsp;<i class="fa fa-instagram"></i></a></button>
    <button class="button"><a href="/logout">Logout&nbsp;<i class="fa fa-instagram"></i></a></button>
  </div>

</header>
<body>
  <p>
    {{#if user}}
    Hello {{user.username}}!
    {{else}}
    Not Logged In{{user.displayName}}
    {{/if}}
    {{{body}}}
  </p>
</body>
</html>
