<section class="posts">
  <div class="artist">
    <p>
        {{artist}}: {{album}}: {{release}}
    </p>

  </div>

  <div class="album">
    <img src="{{imgURL}}" alt="" class="imgURL" />
    </div>

</section>
<div class="description">
  <p>
    {{albumDescription}}
  </p>

</div>
</section>

<form class="" action="/posts/{{_id}}/delete" method="post">
  <input class="button" type="submit" value="Delete">
</form>

<p>
  <a class="back" href="/">Back to Album Collections</a>
</p>
