<section class="posts">
  <div class="artist">
    {{artist}}
  </div>

  <div class="album">
    <img src="{{imgURL}}" alt="" class="imgURL" />
    {{album}}
    </div>

  <div class="release">
    {{release}}
  </div>
</section>
<div class="description">
  {{albumDescription}}
</div>
</section>
